@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Thin.ttf');
	font-weight: lighter;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Italic.ttf');
	font-style: italic;
}

html, body {
	height: 100%;
}

html {
	font: 16px/1 Roboto, sans-serif;
}
body {
	color: white;
	background: #111;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button {
	color: white;
	font-size: 2vw;
	text-transform: uppercase;
	background: transparent;
	border: 0;
}

#time {
	font-size: 20vw;
	font-weight: lighter;
}
